#heading {
    left: 100%;
    text-align: right;
    letter-spacing: 1px;
    word-spacing: 10px;
    margin-bottom: 0%;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav a {
    display: block;
    margin:2%;
}

main {
    left: 50%;
    right: 50%;
    text-align:center;
    line-height: 2em;
}

#submit-container {
    display: flex;
    justify-content: center;
}

#search-submit {
    display:block;
}

#random-submit {
    display:block;
}

#logo {
    max-width:40%;
    max-height: 40%;
    text-align:center;
    padding-top: 4em;
}
